div#MainContent {
  margin-top: 50px;
}

.brand i {
  vertical-align: middle;
  margin-top: -3px;
}

iframe {
  padding-top: 6px;
}

.share_google div {
  margin-top: 2px !important;
}

.share_google {
  margin-right: 15px;
}

.header {
  cursor: pointer;
}

.header:before, .header:before,
.header:after, .header:after {
  content: "";
  float: right;
  width: 0;
  height: 0;
  margin-top: 8px;
  font-size: 0;
  line-height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.header:after, .header:after {
  border-bottom: 5px solid #000;
}

.header:before, .header:before {
    border-top: 5px solid #000;
}

.header.header-sort-desc:after, .header.header-sort-asc:after,
.header.header-sort-desc:before, .header.header-sort-asc:before {
  border: 0;
}

.header.header-sort-asc:before, .header.header-sort-desc:before {
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.header.header-sort-asc:before {
  border-bottom: 5px solid #000;
}

.header.header-sort-desc:before {
  border-top: 5px solid #000;
}

td {
  vertical-align: middle !important;
}

td.streamer {
  color: #999;
}

td.streamer strong {
  color: #000;
}

.align-center {
  text-align: center !important;
}

.label-own3d, .label-twitch {
  cursor: pointer;
}
.label-own3d {
  background-color: #f89406;
}
.label-twitch {
  background-color: #6441a5;
}

.pager {
  margin: 0;
}
